@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?95769629');
  src: url('../font/icon.eot?95769629#iefix') format('embedded-opentype'),
    url('../font/icon.woff2?95769629') format('woff2'),
    url('../font/icon.woff?95769629') format('woff'),
    url('../font/icon.ttf?95769629') format('truetype'),
    url('../font/icon.svg?95769629#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  &::before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  &--mail:before {
    content: '\e803';
  }

  &--heart-empty:before {
    content: '\e805';
  }

  &--phone:before {
    content: '\e83f';
  }

  &--calendar:before {
    content: '\e844';
  }

  &--book:before {
    content: '\e891';
  }

  &--info-1:before {
    content: '\e8bf';
  }

  &--wrench-3:before {
    content: '\eb83';
  }

  &--link-5:before {
    content: '\ee1f';
  }

  &--certificate:before {
    content: '\f0a3';
  }

  &--linkedin:before {
    content: '\f0e1';
  }

  &--lightbulb:before {
    content: '\f0eb';
  }

  &--github:before {
    content: '\f113';
  }

  &--keyboard:before {
    content: '\f11c';
  }

  &--code:before {
    content: '\f121';
  }

  &--stackoverflow:before {
    content: '\f16c';
  }

  &--instagram:before {
    content: '\f16d';
  }

  &--apple:before {
    content: '\f179';
  }

  &--windows:before {
    content: '\f17a';
  }

  &--android:before {
    content: '\f17b';
  }

  &--linux:before {
    content: '\f17c';
  }

  &--slack:before {
    content: '\f198';
  }

  &--graduation-cap:before {
    content: '\f19d';
  }

  &--google:before {
    content: '\f1a0';
  }

  &--language:before {
    content: '\f1ab';
  }

  &--file-code:before {
    content: '\f1c9';
  }

  &--codeopen:before {
    content: '\f1cb';
  }

  &--git:before {
    content: '\f1d3';
  }

  &--history:before {
    content: '\f1da';
  }

  &--user-secret:before {
    content: '\f21b';
  }

  &--whatsapp:before {
    content: '\f232';
  }

  &--safari:before {
    content: '\f267';
  }

  &--chrome:before {
    content: '\f268';
  }

  &--firefox:before {
    content: '\f269';
  }

  &--opera:before {
    content: '\f26a';
  }

  &--internet-explorer:before {
    content: '\f26b';
  }

  &--commenting-o:before {
    content: '\f27b';
  }

  &--shopping-bag:before {
    content: '\f290';
  }

  &--handshake-o:before {
    content: '\f2b5';
  }

  &--window-minimize:before {
    content: '\f2d1';
  }

  &--window-restore:before {
    content: '\f2d2';
  }

  &--window-close:before {
    content: '\f2d3';
  }
}