@font-face {
    font-family: 'iransans';
    src: url('../font/iransans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
:root{
    --body-text-color    : #004d40;
    --body-bg-color      : #FEFEFE;
    --table-bg-color     : #26a69a;
    --container-size     : 1200px;
    --table-title-height : 60px;
    --body-font-family   : iransans;
    --dir                : rtl;
}
$dir                    : var(--dir);
$body-text-color        : var(--body-text-color);
$body-font-family       : var(--body-font-family);
$body-bg-color          : var(--body-bg-color);
$container-size         : var(--container-size);

$table-bg-color         : var(--table-bg-color);
$table-border-color     : var(--table-bg-color);
$table-title-height     : var(--table-title-height);


@function text-color($color) {  
    @if (lightness( $color ) > 40) {
      @return black;
    }
    @else {
      @return white;
    }
}


@mixin class($class) {
    .#{$class} {
        &__container {
            @extend .container;
        }
        &__table {}
        &__title {
            background-color: $table-bg-color;
            padding-left: 1em;
            padding-right: 1em;
            height: $table-title-height;
            line-height: $table-title-height;
            color: text-color(rgb(10, 2, 2));
            border-radius: 4px 4px 0 0;
        }
    }
}

.container{
    width: $container-size;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    padding: 0;
}
html{
    direction: $dir;
}
#app{
  color            : $body-text-color;
  background-color : $body-bg-color;
  font-family      : $body-font-family;
}
.home{
    display: grid;
    row-gap: 30px;
}


.table {
    width: 100%;
    border-collapse: collapse;
    &__col {
        border: 1px solid $table-border-color;
        padding-right: 1em;
        padding-left : 1em;
        text-align: center;
        
    }

    &__row {}
}



$components: basic, status, education, language, skill, project, course, certificate, links,description;

@each $component in $components {
  @include class($component);
}


