:root{
    --body-text-color: #212121;
    --body-bg-color  : #FEFEFE;
    --container-size : 1200px;
    --table-bg-color : red;
    --table-tbody-height : 40px;
    --table-title-height : 60px;
}

$body-text-color   : var(--body-text-color);
$body-bg-color     : var(--body-bg-color);
$container-size    : var(--container-size);
$table-bg-color    : var(--table-bg-color);
$table-border-color: var(--table-bg-color);
$table-tbody-col-height : var(--table-tbody-height);
$table-title-height : var(--table-title-height);
.container{
    width: $container-size;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    padding: 0;
}
html{
    direction: rtl;
}
#app{
  color: $body-text-color;
  background-color: $body-bg-color;
}


.basic {
    &__container {
        @extend .container;
    }

    &__table {}
}
.status {
    &__container {
        @extend .container;
    }

    &__table {}
}

.table {
    width: 100%;
    border-collapse: collapse;
    &__tbody {}

    &__thead {}
}

.tbody {
    &__col {
        border: 1px solid $table-border-color;
        padding-right: 1em;
        padding-left : 1em;
        height: $table-tbody-col-height;
    }

    &__row {}
}

.thead {
    &__col {
        border: 1px solid $table-border-color;
    }

    &__row {}

    &--title {
        color: #FFF;
        text-shadow: 0 0 #111;
        text-align: right;
        background-color: $table-bg-color;
        padding-right: 1em;
        padding-left : 1em;
        height: $table-title-height;
    }
}