:root{
    --body-text-color: #212121;
    --body-bg-color  : #FEFEFE;
    --container-size : 1200px;
}

$body-text-color: var(--body-text-color);
$body-bg-color  : var(--body-bg-color);
$container-size : var(--container-size);


.container{
    width: $container-size;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    padding: 0;
}
html{
    direction: rtl;
}
#app{
  color: $body-text-color;
  background-color: $body-bg-color;
}


.basic {
    &__container {
        
    }

    &__table {}
}

.table {
    width: 100%;
    background-color: green;
    &__tbody {}

    &__thead {}
}

.tbody {
    &__col {}

    &__row {}
}

.thead {
    &__col {}

    &__row {}

    &--title {
        color: #FFF;
        text-shadow: 0 0 #111;
        text-align: right;
        background-color: rebeccapurple;
        padding: 1em;
    }
}