@font-face {
    font-family: 'primary';
    src: url('../font/iransans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
:root{
    --body-text-color    : #004d40;
    --body-bg-color      : #FEFEFE;
    --table-bg-color     : #26a69a;
    --container-size     : 1200px;
    --table-tbody-height : 40px;
    --table-title-height : 60px;
    --body-font-family   : primary;
}

$body-text-color   : var(--body-text-color);
$body-bg-color     : var(--body-bg-color);
$container-size    : var(--container-size);
$table-bg-color    : var(--table-bg-color);
$table-border-color: var(--table-bg-color);
$table-tbody-col-height : var(--table-tbody-height);
$table-title-height     : var(--table-title-height);
$body-font-family       : var(--body-font-family);
.container{
    width: $container-size;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    padding: 0;
}
html{
    direction: rtl;
}
#app{
  color: $body-text-color;
  background-color: $body-bg-color;
  font-family: $body-font-family;
}
.home{
    display: grid;
    row-gap: 30px;
}

.basic {
    &__container {
        @extend .container;
    }

    &__table {}
}

.certificate {
    &__container {
        @extend .container;
    }

    &__table {}
}

.course {
    &__container {
        @extend .container;
    }

    &__table {}
}
.description {
    &__container {
        @extend .container;
    }

    &__table {}
}
.education {
    &__container {
        @extend .container;
    }

    &__table {}
}
.language{
    &__container {
        @extend .container;
    }

    &__table {

    }
}
.links {
    &__container {
        @extend .container;
    }

    &__table {}
}
.project{
    &__container {
        @extend .container;
    }

    &__table {}
}
.status {
    &__container {
        @extend .container;
    }

    &__table {}
}
.skill {
    &__container {
        @extend .container;
    }

    &__table {}
}
.table {
    width: 100%;
    border-collapse: collapse;
    &__tbody {}

    &__thead {}
}

.tbody {
    &__col {
        border: 1px solid $table-border-color;
        padding-right: 1em;
        padding-left : 1em;
        height: $table-tbody-col-height;
        text-align: center;
    }

    &__row {}
}

.thead {
    &__col {
        border: 1px solid $table-border-color;
    }

    &__row {}

    &--title {
        color: #FFF;
        text-shadow: 0 0 #111;
        text-align: right;
        background-color: $table-bg-color;
        padding-right: 1em;
        padding-left : 1em;
        height: $table-title-height;
    }
}